.progress-bar {
    background-color: #f3f2f2;
    height: 20px;
    border-radius: 4px;
}

.progress-bar__value {
    background-color: #0070d2;
    height: 100%;
    border-radius: 4px;
}
